In [60]:
import pandas as pd
import csv

In [61]:
df=pd.read_csv('/home/cynthiah/Downloads/winequality/wineq-white.csv')

In [62]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [64]:
df.isna().value_counts()#checking for null values

fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  density  pH     sulphates  alcohol  quality
False          False             False        False           False      False                False                 False    False  False      False    False      4898
dtype: int64

In [65]:
df.duplicated().value_counts()#checking for duplicates

False    3961
True      937
dtype: int64

In [66]:
#dropping duplicates 
df=df.drop_duplicates()

Using the  Wine Quality Dataset, test the claim that Wines with a higher quality rating have a higher median alcohol content than wines with a lower quality rating.

In [67]:
dfn=df[['alcohol','quality']].copy()#loading the two columns
dfn.head(15)

    alcohol  quality
0       8.8        6
1       9.5        6
2      10.1        6
3       9.9        6
6       9.6        6
9      11.0        6
10     12.0        5
11      9.7        5
12     10.8        5
13     12.4        7
14      9.7        5
15     11.4        7
16      9.6        6
17     12.8        8
18     11.3        6

In [119]:
dfn.describe()

           alcohol      quality
count  3961.000000  3961.000000
mean     10.589358     5.854835
std       1.217076     0.890683
min       8.000000     3.000000
25%       9.500000     5.000000
50%      10.400000     6.000000
75%      11.400000     6.000000
max      14.200000     9.000000

# Hypothesis testing

$H_O:$ The alcohol content has no effect on the quality ratings of the Wines 

$H_1:$ Wines with a higher quality rating have a higher median alcohol content than wines with a lower quality rating

alpha=0.05

In [121]:
dfn_highrating = dfn[dfn['quality'] > 6]#wines with higher quality rating
dfn_lowerrating= dfn[dfn['quality'] < 6]#wines with lower quality rating

In [122]:
dfn_highrating.describe()

          alcohol     quality
count  825.000000  825.000000
mean    11.577717    7.170909
std      1.142061    0.392437
min      8.500000    7.000000
25%     10.800000    7.000000
50%     11.633333    7.000000
75%     12.500000    7.000000
max     14.200000    9.000000

In [123]:
dfn_lowerrating.describe()

           alcohol      quality
count  1348.000000  1348.000000
mean      9.909172     4.856825
std       0.895594     0.390465
min       8.000000     3.000000
25%       9.200000     5.000000
50%       9.700000     5.000000
75%      10.500000     5.000000
max      13.600000     5.000000

In [126]:
highq_median=dfn_highrating['alcohol'].median()

In [127]:
lowq_median=dfn_lowerrating['alcohol'].median()

calculate the p-value

In [133]:
import scipy.stats as stats 
ttest , p_value = stats.ttest_ind(a=dfn_highrating['alcohol'],b=dfn_lowerrating['alcohol'])
print(p_value)

1.5414651243649813e-241

In [134]:
alpha =0.05
if p_value < alpha:
    print('Reject null hypothesis')
else :
    print('fail to reject null hypothesis')

Reject null hypothesis